{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1 style="" >Articles</h1>
    <div style="    
    position: absolute;
    top: 13%;
    left: 96%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;" >
    <a  href="{{ path('app_admin_article_new') }}">Ajouter</a>
    </div>
  {% for article in articles %}
 <div class="card" style="padding: 19px;
                          border-radius: 2.2rem;
                          width: 85rem;
                          margin: 23px 0px 0px 48px;">                      

                <div class="body">

                    <h5 class="title">{{ article.title }}</h5>
                    <p class="text">{{ article.content }}</p>
                    
                    <a href="{{ path('app_admin_article_show', {'id': article.id}) }}">Afficher</a>
                    <a href="{{ path('app_admin_article_edit', {'id': article.id}) }}">Modifier</a>
                </div>
    </div>
     {% else %}
                <p colspan="4">Aucun enregistrement trouvé</p>
        {% endfor %}

   
{% endblock %}
