<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}"><span>Mon</span>Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Panneau de contrôle         
         </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{path('app_admin_mots_cles_index')}}">Catégories</a></li>
            <li><a class="dropdown-item" href="{{path('app_admin_article_index')}}">Articles</a></li>
            <li><a class="dropdown-item" href="{{path('app_admin_comment_index')}}">Commentaires</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{path('app_admin_user_index')}}">Utilisateurs</a></li>
          </ul>
        </li>
      </ul>
            <div class="nav justify-content-center">
      <form class="d-flex" role="search">
        <input class="form-control me-1" type="search" placeholder="Rechercher..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
      </form>
      </div>
  <div class="nav justify-content-end">
           <li class="nav-item">
          <a id="login" class="nav-link" href="{{path('app_login')}}">Se connecter</a>
        </li>
        </div>
    </div>
  </div>
</nav>

</header>
